* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#222;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}

.directioncontrol-box{
	margin-top: 40px;
	margin-left: 40px;
	width: 280px;
	height: 280px;
	background:lightgray;
	touch-action:none;
}

.directioncontrol-knob{
	width: 40px;
	height: 40px;
	border-radius:50%;
	-webkit-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	 box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
	background:darkgray;
	touch-action:none;
}