<md-toolbar color="primary">
  <span class="fill-space">LegoControl app</span>
  <button *ngIf="!doesntSupportWebBluetooth" md-raised-button color="accent" (click)="toggleConnectionStatus()">{{isConnected()?"DISCONNECT" :"CONNECT"}}</button>
</md-toolbar>
<div *ngIf="doesntSupportWebBluetooth" style="align: center">
  <div>WebBluetooth isn't available!</div>
  <div><b>For Google Chrome:</b><br />Set the WebBluetooth flag to 'enabled': <br /> <code>chrome://flags/#enable-web-bluetooth</code></div>
</div>
<div class="control-container" *ngIf="currentModel">
  <car-control [model]="currentModel"></car-control>
</div>
<footer class="control-footer-container" *ngIf="currentModel">
  <md-slide-toggle class="flexed-slide" [disabled]="!currentModel?.hasFrontLightFeature" [(ngModel)]="currentModel.frontLightIsEnabled">Lights</md-slide-toggle>
  <md-slide-toggle class="flexed-slide" [disabled]="!currentModel?.hasBlinkFeature" [(ngModel)]="currentModel.blinkLeft">left</md-slide-toggle>
  <md-slide-toggle class="flexed-slide" [disabled]="!currentModel?.hasBlinkFeature" [(ngModel)]="currentModel.blinkRight">right</md-slide-toggle>
  <md-slide-toggle class="flexed-slide" [disabled]="!currentModel?.hasTrunkFeature" [(ngModel)]="currentModel.trunkIsOpen">Trunk</md-slide-toggle>
</footer>