.fill-space{
    flex: 1 1 auto;
}

.control-container{
    flex:1;
    display: flex;
    background:lightgray;
}

.control-footer-container{
    background:darkgray;
    display: flex;
    justify-content: space-around;
}

:host{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}